[submodule "src/third_party/inih"]
	path = src/third_party/inih
	url = git@github.com:benhoyt/inih.git
[submodule "src/third_party/valijson"]
	path = src/third_party/valijson
	url = git@github.com:tristanpenman/valijson.git
[submodule "src/third_party/dotenv-cpp"]
	path = src/third_party/dotenv-cpp
	url = git@github.com:laserpants/dotenv-cpp.git
